<td class="text-center">
  <input type="checkbox" />
</td>
<td>
  <div class="flex-1 flex gap-2">
    <div class="rounded-lg p-3 text-purple-500 bg-(--color-hlpurple)">
      <ng-content></ng-content>
    </div>
    <div class="flex flex-col">
      <span class="text-white">{{documentName}}</span>
      <span>{{documentSubtitle}}</span>
    </div>
  </div>
</td>
<td>* {{documentCategory}}</td>
<td>{{minutesAgoEdited}} minutes ago</td>
<td>CIRCLE You</td>
<td class="relative">
  <div (click)="isHidden = !isHidden">
    <app-horizontal-dots></app-horizontal-dots>
  </div>
  <div id="custom-dropdown" class="absolute flex-col gap-4 right-10 rounded-lg bg-(--color-bgcard) p-5 text-white w-auto"
    [class.hidden]="isHidden" [class.inline-flex]="!isHidden">
    <div class="flex gap-2" [routerLink]="['/singledocument',documentId]">
      <app-info-icon svgClass="size-5"></app-info-icon>
      <span>Details</span>
    </div>
    <hr>
    <div class="flex gap-2 text-red-700" (click)="onOpenDelete()">
      <app-trash-icon svgClass="size-5"></app-trash-icon>
      <span>Delete</span>
    </div>
  </div>
</td>