<td class="text-center col-span-1">
  <input type="checkbox" />
</td>
<td class="col-span-4">
  <div class="flex-1 flex gap-2">
    <div class="rounded-lg p-3 text-purple-500 bg-(--color-hlpurple) max-lg:hidden">
      <ng-content></ng-content>
    </div>
    <div class="flex flex-col">
      <span class="text-white">{{documentName}}</span>
      <span>{{documentSubtitle}}</span>
    </div>
  </div>
</td>
<td class="col-span-2 flex items-start">
  <span>* {{documentCategory}}</span>
</td>
<td class="col-span-2 flex items-start max-lg:hidden">
  <span>{{minutesAgoEdited}} minutes ago</span>
</td>
<td class="col-span-1 flex items-start">
  <app-status-pill [processingStatus]="processingStatus"></app-status-pill>
</td>
<td class="col-span-2 flex items-start max-lg:hidden">
  <div class="flex gap-1 items-center p-1">
    <app-user-circle-icon svgClass="size-7 max-xl:size-5"></app-user-circle-icon>
    <span class="max-xl:text-xs">You</span>
  </div>
</td>
<td class="col-span-1">
  @if(processingStatus === "Completed" || processingStatus === "Failed")
  {
  <div (click)="isHidden = !isHidden">
    <app-horizontal-dots></app-horizontal-dots>
  </div>
  <div id="custom-dropdown"
    class="absolute flex-col gap-4 right-10 rounded-lg bg-(--color-bgcard) p-5 text-white w-auto"
    [class.hidden]="isHidden" [class.inline-flex]="!isHidden">
    @if(processingStatus === "Completed")
    {
    <div class="flex gap-2" [routerLink]="['/singledocument',documentId]">
      <app-info-icon svgClass="size-5"></app-info-icon>
      <span>Details</span>
    </div>
    <hr>
    }
    <div class="flex gap-2 text-red-700" (click)="onOpenDelete()">
      <app-trash-icon svgClass="size-5"></app-trash-icon>
      <span>Delete</span>
    </div>
  </div>
  }
  @else
  {
  <div class="text-white">
    <app-lock-icon svgClass="size-6"></app-lock-icon>
  </div>
  }
</td>