<div class="grid grid-rows-[1fr_auto] gap-7 bg-[#0d1030] p-5 min-h-full max-lg:absolute max-lg:w-full max-lg:z-999">
    <div>
        <div class="flex flex-col">
            <a routerLink="/" class="flex-1 flex gap-5 text-md text-(--text-gray) p-4 items-center justify-start">
                <app-house-icon svgClass="max-lg:size-5 size-8"></app-house-icon>
                <span class="lg:text-lg">Home</span>
            </a>
            @if(authService.isAuthenticated())
            {
            <a routerLink="/dashboard" class="flex-1 flex gap-5 text-md text-(--text-gray) p-4 items-center justify-start">
                <app-dashboard-icon svgClass="max-lg:size-5 size-8"></app-dashboard-icon>
                <span class="lg:text-lg">Dashboard</span>
            </a>
            <a routerLink="/workspaces" class="flex-1 flex gap-5 text-md text-(--text-gray) p-4 items-center justify-start">
                <app-analytics-icon svgClass="max-lg:size-5 size-8"></app-analytics-icon>
                <span class="lg:text-lg">Workspaces</span>
            </a>
            <a routerLink="/documents" class="flex-1 flex gap-5 text-md text-(--text-gray) p-4 items-center justify-start">
                <app-document-icon svgClass="max-lg:size-5 size-8"></app-document-icon>
                <span class="lg:text-lg">Documents</span>
            </a>
            <a class="flex-1 flex gap-5 text-md text-(--text-gray) p-4 items-center justify-start">
                <app-user-icon svgClass="max-lg:size-5 size-8"></app-user-icon>
                <span class="lg:text-lg">Account</span>
            </a>
            }
        </div>
    </div>
    <div>
        <div class="grid grid-cols-[20%_80%]">
            @if(authService.isAuthenticated())
            {
            <div class="flex items-center justify-center text-2xl">
                <app-account-icon svgClass="max-lg:size-5 size-8"></app-account-icon>
            </div>
            <div class="grid grid-cols-[90%_10%]">
                <div class="flex flex-col justify-center">
                    <span class="text-sm text-white">{{userService.currentUser()?.firstName! + ' '
                        + userService.currentUser()?.lastName!}}</span>
                    <span class="text-xs text-(--text-gray)">{{userService.currentUser()?.email}}</span>
                </div>
                <div class="flex items-center">
                    <app-dropdown-icon svgClass="max-lg:size-5 size-8"></app-dropdown-icon>
                </div>
            </div>
            }
        </div>
    </div>
</div>