<div class="h-full overflow-hidden bg-[#000422] flex border-b-1 border-gray-600 py-5 items-center">
    <div class="flex-1 flex gap-1 items-center text-2xl pl-6">
        <app-sparkle-icon></app-sparkle-icon>
        <span class="text-white">Workspace</span>
        <span class="text-[#9333ea]">AI</span>
    </div>
    <div class="grid grid-cols-4 text-gray-600 gap-3 flex-2">
        <div>Features</div>
        <div>Pricing</div>
        <div>Docs</div>
        <div>Contact</div>
    </div>
    <div class="flex-1 flex gap-2 text-white">
        <button class="px-5 py-2">Sign In</button>
        <button class="px-5 py-2 bg-linear-to-r from-purple-600 to-blue-500 rounded-lg">Get Started</button>
    </div>
</div>