<div class="grid grid-rows-[auto_1fr_auto] gap-7 bg-[var(--color-bgsidebar)] p-5 min-h-full">
    <div class="flex justify-center">
        <app-logo></app-logo>
    </div>
    <div>

        <div class="flex flex-col">
            <div class="flex-1 flex gap-5 text-md text-[var(--text-gray)] p-4 pl-6">
                <app-house-icon></app-house-icon>
                <span>Dashboard</span>
            </div>
            <div class="flex-1 flex gap-5 text-md text-[var(--text-gray)] p-4 pl-6">
                <app-document-icon></app-document-icon>
                <span>Documents</span>
            </div>
            <div class="flex-1 flex gap-5 text-md text-[var(--text-gray)] p-4 pl-6">
                <app-automation-icon></app-automation-icon>
                <span>Automations</span>
            </div>
            <div class="flex-1 flex gap-5 text-md text-[var(--text-gray)] p-4 pl-6">
                <app-analytics-icon></app-analytics-icon>
                <span>Analytics</span>
            </div>
            <div class="flex-1 flex gap-5 text-md text-[var(--text-gray)] p-4 pl-6">
                <app-user-icon></app-user-icon>
                <span>Account</span>
            </div>
        </div>
    </div>
    <div>
        <div class="grid grid-cols-[20%_80%]">
            <div class="flex items-center justify-center text-2xl">
                <app-account-icon></app-account-icon>
            </div>
            <div class="grid grid-cols-[90%_10%]">
                <div class="flex flex-col gap-2">
                    <span class="text-sm text-white"> Jhon Doe</span>
                    <span class="text-xs text-[var(--text-gray)]"> jhon&#64;example.com</span>
                </div>
                <div class="flex items-center">
                    <app-dropdown-icon></app-dropdown-icon>
                </div>
            </div>
        </div>
    </div> 
</div>