<div class="min-h-screen grid grid-rows-[8%_92%] overflow-hidden">
    <div class="h-full min-h-0 overflow-hidden">
        <app-header></app-header>
    </div>
    <div class="main-body bg-[var(--color-bgmain)] flex">
        <div class="flex-1">
            <app-sidebar></app-sidebar>
        </div>
        <!-- <div class="flex-1 grid items-center min-h-0">
            <app-login></app-login>
             <app-register></app-register>
        </div> -->
        <div class="flex-7">
            <!-- <app-dashboard></app-dashboard> -->
            <app-workspaces></app-workspaces>
        </div>
    </div>
</div>


<router-outlet />
