<div class="h-screen w-screen grid grid-rows-[7%_93%] overflow-hidden">
  <div class="h-full min-h-0 overflow-hidden">
    <app-header (bmClicked)="showMenu.set(!showMenu())"></app-header>
  </div>
  <div class="main-body bg-(--color-bgmain) flex">
    <div class="max-lg:hidden flex-1 w-full">
      <app-sidebar></app-sidebar>
    </div>
    @if(showMenu())
    {
    <div class="w-full absolute">
      <app-sidebar></app-sidebar>
    </div>
    }
    <div class="flex-7 items-start justify-center max-lg:max-h-full">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>