<div class="grid grid-rows-4">
    <label class="row-span-1 min-h-full text-sm mb-2">{{ labelText }}</label>
    <div
      class="row-span-2 min-h-full flex items-center gap-2 border-gray-600 border rounded-md p-1"
      [class.border-red-700]="controlObject.invalid && (controlObject.dirty || controlObject.touched)"
    >
      <ng-content></ng-content>
      <input
        type="text"
        class="text-sm"
        [formControl]="controlObject"
        [placeholder]="placeholderText"
      />
    </div>
    
    <div class="row-span-1 min-h-full flex">
        @if (controlObject.invalid && (controlObject.dirty || controlObject.touched)) {
          <div class="flex-1 h-full flex">
            @for (ruleAndMessage of ruleToMessage; track ruleAndMessage.validationRule) {
              @if (controlObject.hasError(ruleAndMessage.validationRule)) {
                <div class="text-red-700 text-sm">{{ ruleAndMessage.errorMessage }}</div>
              }
            }
          </div>
        }
    </div>
</div>