<div class="grid grid-rows-6 h-full">
    <div class="row-span-1 flex">
        <div class="flex-1 flex flex-col">
            <div class="flex gap-3">
                <div>
                    <app-sparkle-icon svgClass="size-5"></app-sparkle-icon>
                </div>
                <span class="text-lg text-white">AI Chat</span>
            </div>
            <span class="text-xs">Ask questions about this document</span>
        </div>
        <div class="size-5">
            <app-refresh-icon></app-refresh-icon>
        </div>
    </div>
    <div class="row-span-4 text-white text-sm flex items-center justify-center">
        <div #messageContainer class="flex flex-col gap-3 overflow-y-scroll max-h-full w-full p-3">
            @for (message of messages(); track message.id) {
            @if(message.sender == 'AI')
            {
            <div class="basis-full flex justify-start">
                <span class="bg-purple-800 p-2 rounded-lg max-w-[80%]">{{message.message}}</span>
            </div>
            }
            @else
            {
            <div class="basis-full flex justify-end">
                <span class="bg-pink-500 p-2 rounded-lg max-w-[80%]">{{message.message}}</span>
            </div>
            }
            }
        </div>
    </div>
    <div class="row-span-1">
        <form (submit)="sendMessage($event)" class="flex border border-gray-700 rounded-md p-2">
            <input [formControl]="currentMessage" type="text" placeholder="Ask anything about this document..."
                class="flex-[90%] text-(--text-gray) text-sm pl-4 flex items-center">
            <button type="submit" class="flex-[10%] flex items-center justify-center">
                <div class="bg-(--color-hlpurple) p-1 rounded-md text-purple-500">
                    <app-pointer-right></app-pointer-right>
                </div>
            </button>
        </form>
    </div>
</div>