<div class="grid grid-rows-11 h-full">
    <div class="max-lg:row-span-1 lg:row-span-2 flex max-lg:pb-2">
        <div class="flex-1 grid max-lg:grid-rows-1 lg:grid-rows-2">
            <div class="row-span-1 flex gap-3">
                <div>
                    <app-sparkle-icon svgClass="max-lg:size-4 lg:size-5"></app-sparkle-icon>
                </div>
                <span class="max-lg:text-sm lg:text-lg text-white">AI Chat</span>
            </div>
            <span class="max-lg:hidden row-span-1 text-xs">Ask questions about this document</span>
        </div>
        <div class="size-5">
            <app-refresh-icon></app-refresh-icon>
        </div>
    </div>
    <div class="row-span-7 text-white text-sm flex items-center justify-center max-h-full">
        <div #messageContainer class="flex flex-col gap-3 overflow-y-scroll max-h-full w-full p-3">
            @for (message of messages(); track message.id) {
            @if(message.sender == 'AI')
            {
            <div class="basis-full flex justify-start">
                <span class="bg-purple-800 p-2 rounded-lg max-w-[80%]">{{message.message}}</span>
            </div>
            }
            @else if(message.sender == 'Loading')
            {
            <div class="basis-full flex justify-start">
                <app-loading-goey></app-loading-goey>
            </div>
            }
            @else
            {
            <div class="basis-full flex justify-end">
                <span class="bg-pink-500 p-2 rounded-lg max-w-[80%]">{{message.message}}</span>
            </div>
            }
            }
        </div>
    </div>
    <div class="max-lg:row-span-3 lg:row-span-2 grid grid-rows-2">
        <div class="row-span-1 max-h-full">
            <form (submit)="sendMessage($event)" class="flex border border-gray-700 rounded-md">
                <input [formControl]="currentMessage" type="text" placeholder="Ask anything about this document..."
                    class="flex-[90%] text-(--text-gray) max-lg:text-xs lg:text-xs pl-4 flex items-center">
                <button type="submit" class="flex-[10%] flex items-center justify-center">
                    <div class="bg-(--color-hlpurple) p-1 rounded-md text-purple-500">
                        <app-pointer-right></app-pointer-right>
                    </div>
                </button>
            </form>
        </div>
        <div class="row-span-1 min-h-full flex">
            @if (currentMessage.invalid && (currentMessage.dirty || currentMessage.touched)) {
            <div class="flex-1 h-full flex gap-5 items-center">
                @for (ruleAndMessage of ruleToMessage; track ruleAndMessage.validationRule) {
                @if (currentMessage.hasError(ruleAndMessage.validationRule)) {
                <div class="text-red-700 max-lg:text-2xs lg:text-xs">{{ ruleAndMessage.errorMessage }}</div>
                }
                }
            </div>
            }
        </div>
    </div>
</div>