@if(formState === 'form'){

<form (ngSubmit)="onSubmitForm()" [formGroup]="documentForm" class="flex flex-col gap-4">
    <div class="flex flex-col gap-2 items-center">
        <div class="size-5">
            <app-sparkle-icon></app-sparkle-icon>
        </div>
        <span class="font-bold text-xl">Create a new document</span>
        <span class="text-gray-400 text-sm text-center">documents keep your projects, files, and collaboration all in one
            place</span>
    </div>
    <div>
        <app-input-validator labelText="document name" placeholderText="Enter document name"
            [controlObject]="documentName" [ruleToMessage]="textValidationMessages"
            [isPassword]="false"></app-input-validator>
    </div>
    <div class="flex items-end gap-4">
        <button (click)="onCancel()" class="px-3 py-2 border border-gray-400 text-black rounded-lg text-xs">Cancel</button>
        <button type="submit" class="px-3 py-2 bg-(--button-purple) text-white rounded-lg text-xs">Create document</button>
    </div>
</form>
}
@else if (formState === 'loading')
{
<app-loading-animation></app-loading-animation>
}
@else if(formState === 'failure'){
<app-failure-card primaryText="Failed to create document" [errorMessage]="errorMessage" (tryAgain)="tryAgain()"
    secondaryText="Go to dashboard" secondaryUrl="/dashboard"></app-failure-card>
}